@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
}

body img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: fill;
  z-index: -1;
}

.container {
  margin: 50px;
  background: rgba(255, 255, 255, 0.2);
  width: 500px;
  height: 500px;
  padding: 2em;
  border-radius: 3em;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(7px);
  color: white;
}

.title {
  text-align: center;
  font-size: 40px;
  color: #ff4500;
}

.title span {
  color: #ffa500;
}

.status-reset {
  margin-top: 15px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #ff4500;
}

.reset {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
  padding: 3px 7px;
  border-radius: 5px;
  color: #ffa500;
}

.reset:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #ff4500;
}
